{% extends "base.html" %}
{% load staticfiles %}


{% block styles %}

  <style>
      body {
        border-top: 4px solid #E47541;
        /*min-height: 5000px;*/
        /*min-width: 5000px;*/
        background: url('{% static "img/beach.jpg" %}') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: conver;
        background-size: cover;

        /*background-image: url('{% static "img/beach.jpg" %}');*/
        /*background-image:url('https://lh4.googleusercontent.com/-FsgMNhfQLSg/AAAAAAAAAAI/AAAAAAAAaRY/3VnF3vSuWKk/photo.jpg');*/
        /*background-repeat: repeat-x;*/
      }

    </style>

{% endblock %}

{% block content %}


  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron"  style='background-color: white;'>
      <div class="container">
        <div class='col-sm-6'>
          <h1>Hello, world!</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-success btn-lg" role="button">Learn more &raquo;</a></p>
        </div>
        <div class='col-sm-6'>
          <img src="{% static 'img/iphone.png' %}" class='img-responsive' />
          </div>
      </div>
    </div>


<div class='container' style='text-align:center;'>
  <h1>Hello, welcome home</h1>

  <form method="POST" action=""> {% csrf_token %}
  {{ form.as_p }}
  <input type='submit' value='Join' class='btn' />
  </form>



</div>


<div class='row' style='text-align:center;background-color:white;margin: 80px 0px;min-height:200px;'>
  <div class='col-sm-12'>
  <h1>Hello</h1>
  </div>


</div>


{% endblock %}

